body {
    font-family: Arial, sans-serif;
    background-color: #cfcfcf;;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #6f79f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
}

.create-new-todo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.add-message {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-btn {
    padding: 10px;
    background: #a532de;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-btn:hover {
    background: #1baa3a;
}

#todo-list {
    list-style: none;
    padding: 0;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.todo-item.completed {
    text-decoration: line-through;
    background: #9aedad;
    color: #049f28;
}

.todo-item button {
    background: #da3747;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.todo-item button:hover {
    background: #b32230;
}

